@import "~antd/dist/antd.css";

.App {
	max-width: 60vw;
	margin: 0 auto;
	padding: 15vh 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table {
	width: 100%;
}
